<table class="table border-top border-bottom table-hover table-inverse">
  <tr>
    <td class="align-middle">
      <%= image_tag group.get_image(50, 50) %>
    </td>
    <td class="align-middle">
      <%= group.name %>
    </td>
    <td class="td-body align-middle">
      <%= simple_format(group.caption) %>
    </td>
    <td class="align-middle">
      <% if defined? @detail_page %>
        <% group.group_users.each do |group_user| %>
          <%= group_user.user.nickname %><br>
        <% end %>
      <% else %>
        参加者：<%= group.group_users.count %>人
      <% end %>
    </td>
    <td class="align-middle">
      <% if group.owner_id == current_user.id %>
        <%= link_to "編集", edit_group_path(group), class: "btn btn-success" %>
        <%= link_to "削除", group_path(group), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
      <% elsif group.users.exists?(current_user.id) %>
        <%= link_to "グループから退会する", group_groupusers_path(group), method: :delete, data: { confirm: "本当に退会しますか？"}, class: "btn btn-danger" %>
      <% elsif group.permits.exists?(user_id: current_user.id) %>
        <%= link_to "申請取消", group_permits_path(group), method: :delete, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "参加申請", group_permits_path(group), method: :post, class: "btn btn-success" %>
      <% end %>
    </td>
  </tr>
</table>