<%= form_with model: post do |f| %>
  <div class="d-flex justify-content-start">
    <%= f.label :画像, style: "width: 60px;" %>
    <%= f.file_field :image, accept: "image/*", include_blank: "ファイルを選択" %>
  </div>
  <div style="display: flex; align-items: baseline;">
    <%= f.text_area :body, style: "width: 26rem; height: 8rem;"%>
  </div>
  <div class="mt-2 d-flex justify-content-end">
    <%= f.submit "送信", class: "btn btn-info" %>
  </div>
<% end %>