<%= form_with model: post do |f| %>
  <div class="form-group">
    <%= f.label :画像, class: "col-form-label" %><br>
    <%= f.file_field :image, accept: "image/*", include_blank: "ファイルを選択" %>
  </div>
  <div class="form-group">
    <%= f.label :投稿内容, class: "col-form-label" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="form-group mt-2 d-flex justify-content-end">
    <%= f.submit "送信", class: "btn btn-info" %>
  </div>
<% end %>