<div class="border-top border-bottom">
  <div class="row", style="height: 100px;">
    <div class="col-2">
      <%= image_tag post.user.get_profile_image(100, 100) %>
    </div>
    <div class="col-4 text-left", style="font-size: 16px;">
      <b><%= post.user.nickname %></b>
    </div>
    <div class="col-2 offset-2 text-secondary">
      <%= post.created_at.strftime("%-m/%-d %H:%M") %>
    </div>
  </div>

  <div class="row">
    <div class="col-6 offset-2", style="font-size: 24px;">
      <div>
        <%= post.body %>
      </div>
      <% if post.image.present? %>
        <div>
          <%= image_tag post.get_image(400, 500) %>
        </div>
      <% end %>
    </div>
    <% if @editable %>
      <div class="col-2 offset-2">
        <%= link_to "編集", edit_post_path(@post), class: "btn btn-success" %>
        <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>