<div class="border-top border-bottom">
  <div class="post-row row">
    <div class="col-md-2 col-4">
      <%= link_to admin_user_path(post.user_id) do %>
        <%= image_tag post.user.get_profile_image(100, 100), class: "image" %>
      <% end %>
    </div>
    <div class="post col-md-4 col-4 text-left">
      <b><%= post.user.nickname %></b>
    </div>
    <div class="col-md-2 offset-md-2 col-3 text-secondary">
      <%= post.created_at.strftime("%-m/%-d %H:%M") %>
    </div>
  </div>

  <% if !defined? @detail_page %>
    <%= link_to admin_post_path(post), class: "text-dark" do %>
      <div class="row align-items-end">
        <div class="post col-md-6 col-12 offset-md-2">
          <div>
              <%= post.body %>
          </div>
        </div>
        <% if post.image.present? %>
        <div class="col-md-6 offset-md-2 col-12">
          <%= image_tag post.get_image(300, 300) %>
        </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="row align-items-end">
      <div class="post col-md-6 offset-md-2 col-12">
        <div>
            <%= post.body %>
        </div>
      </div>
      <% if post.image.present? %>
        <div class="col-md-6 offset-md-2 col-12">
          <%= image_tag post.get_image(300, 300) %>
        </div>
      <% end %>
      <div class="col-md-2 offset-md-2 col-12">
        <%= link_to "削除", admin_post_path(post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>

<div class="border-bottom">
  <div class="item-row row d-flex justify-content-evenly align-items-center">
    <div class="col-md-2 offset-md-2 col text-center">
        <i class="fa-regular fa-comment"></i> <%= post.comments.count %>
    </div>
  </div>
</div>