<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-6 text-center">
      <p style="font-size: 3rem;">マイページ</p>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div class="d-flex justify-content-center">
        <%= link_to user_path(current_user) do %>
          <%= image_tag @user.get_profile_image(150, 150) %>
        <% end %>
      </div>
      <div class="text-center">
        <b><%= @user.nickname %></b>
      </div>
      <%= link_to edit_user_path(current_user), class: "btn btn-secondary d-flex justify-content-center mt-2" do %>
        <i class="fa-solid fa-user-gear text-light"></i>
      <% end %>
    </div>

    <div class="col-9 offset-1">
      <% @posts.each do |post| %>
        <%= render 'public/posts/post_list', post: post %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-4 offset-4 text-center">
      <div class="pagination" style="font-size: 24px;">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>

