<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-6 text-center">
      <p class="pheader">ユーザー詳細</p>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-3">
      <div class="d-flex justify-content-center">
        <%= image_tag @user.get_profile_image(200, 200) %>
      </div>
      <div class="text-center" style="font-size: 24px;">
        <b><%= @user.nickname %></b>
      </div>
      <div class="mt-2 text-center" style="font-size: 16px;">
        <%= @user.caption %>
      </div>
      <% if @user.is_active == false %>
        <div class="mt-2 text-center text-danger" style="font-size: 16px;">
          <b><%= @user.nickname %>さんは退会済です</b>
        </div>
      <% end %>
      <% if @user == current_user %>
        <%= link_to edit_user_path(current_user), class: "btn btn-secondary d-flex justify-content-center mt-2" do %>
            <i class="fa-solid fa-user-gear text-light"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

